#raiz{
-fx-background-image: url("ponte.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}
#modal{
-fx-background-image: url("ulla.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}
.button{
/* a altura esta limitada por constraints do contenedor e por eso non colle a forma redonda,
tamen lle faltaria un pref hight*/
-fx-background-radius: 50;
-fx-pref-width: 120;
-fx-background-color:blue;
-fx-text-fill:pink;
}
Label{
-fx-font-family:"Comic Sans MS";
-fx-border-color:lightcoral;
-fx-background-color:lightcoral;
}


.table-view .column-header{ /*a cabeceira da taboa co sort incluido*/
-fx-background-color:lightcoral;
}
.table-view .filler{ /*a esquina superior dereita da taboa*/
-fx-background-color:lightcoral;
}
/*.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, azure;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, aquamarine;
}*/